{% extends 'base.html' %}

{% block content %}

{% include 'accounts/navbar.html' %}

<div class="container">
    <div class="row white" style="margin-top: 2%; border-radius: 5%; padding: 2%;" >
        <div class="container">
            <form action="" method="POST" >
                {% csrf_token %}
                {% for field in loginForm %}
                <div class="row">
                    <div class="input-field col s12">
                        {{field}}
                    </div>
                </div>
                {% endfor %}

                <button type="submit" class="btn waves-effect waves-light">Login</button>

            </form>
        </div>
        
    </div>
</div>

{% endblock %}