<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey lighten-1">
          <a href="{% url 'home' %}" class="brand-logo">Covileer</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
</ul>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
    });
</script>