{% extends 'base.html' %}

{% block content %}

<nav>
    <div class="nav-wrapper grey lighten-1">
      <a href="#" class="brand-logo">Covileer</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
</nav>
  
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'createRequest' pk=request.user.pk %}">Request</a></li>
    <li><a href="{% url 'updateprofile' pk=request.user.pk %}">Update Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>



<div class="container">
    <div class="row white" style="margin-top: 3%; padding: 3%; border-radius: 4%;">
        <form action="" method="POST" class="col s12">
            {% csrf_token %}
            {% for field in profileForm %}
            <div class="row">
                <div class="input-field col-s12">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button class="btn waves-effect waves-light grey darken-1" onclick="mysubmit()">Update
				<i class="material-icons right">send</i>
			</button>
        </form>

    </div>

</div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

{% endblock %}